
/*navegador*/
.brand-conteiner {
	padding: 1em;
}
.brand-conteiner {
	float: left;
	padding: 1em;
	display: block;
}

/*menu*/
@media (min-width: 768px){
	/*#my-navbar-collapse{
		flex-grow:2;
	}*/
	.myNavbar {
		background: #353535;
		/*display: flex;*/
		/*justify-content: space-between;*/
		list-style: none;
		/*margin: 0;*/
	}
	.myNavbar ul{
		background: #353535;
		display: flex;
		/*justify-content: flex-end;*/
		list-style: none;
		margin-top: 5px;
		padding-top: 50px;
		float: right;
	}
	.myNavbar a{
		color: #fff;
		display: block;
		padding: 0 1em;
		text-decoration: none;
	}
	.myNavbar a:hover {
		color: #c1c1c1;
		text-decoration: underline;
	}
	.navbar {
	    border-radius: 0; 
	}	
}



/*menu colapsado*/
@media (max-width: 767px){
	.myNavbar {
		/*-webkit-flex-flow: column wrap;*/
		background: #353535;
		list-style: none;
		margin: 0;
	    /*flex-flow: column wrap;*/
	    padding: 0;
	}
	.myNavbar ul{
		/*background: deepskyblue;*/
		/*text-align: center;*/
		list-style: none;
		margin-top: 50px;
		padding-left: 0;
		padding-top: 10px;
	}
	.myNavbar a{
		color: #fff;
		display: block;
		padding: 1em 0 1em 0;
		text-align: center; 
		text-decoration: none;
	}
	.myNavbar li{
		padding: 10px 0;
	}
	.myNavbar li:last-of-type a {
    	/*border-bottom: none;*/
	}
	.myNavbar a:hover {
		color: #ddd;
	}
	.collapsed{
	/*background-color: #ddd;*/
	align-self: center;
	margin-left: 1em;
	}

	.navbar-toggle{
		/*background-color: #ddd;*/
		margin: 0;
		padding-top: 30px;
	}
	.navbar-toggle .icon-bar{
		background-color: #fff;
		height: 4px;
		margin: 5px 0;
		width: 40px;
	}
	.myNav-collapse {
		/*opacity: 0.80;*/
		/*text-align: center;*/
		/*z-index: 1000;*/
		font-size: 1.3em;
		margin-top: 0;
		position: relative;
	}
	
}


/*seccion portada*/
.main{
	display: flex;
	justify-content: center;
}

.buscador{
	text-align: center;
}

/*seccion destacados*/
.destacados{
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

/*seccion footer*/
.footer-nav{
	background: #353535;
	display: flex;
	justify-content:flex-end;
	padding: 0 15px;
}
.footer-nav ul{
	padding-right: 1em;
}
.footer-nav li{
	color: #fff;
	display: block;
	padding: 1em 0 1em 0;
	text-align: center; 
	text-decoration: none;
	padding-right: 1em;
}
.footer-nav li:hover {
	color: #c1c1c1;
	text-decoration: underline;
}
/*.footer-nav .opcion3 {
	margin-right: 50px;
}*/
/*section .flex{
	display: flex;
	justify-content: space-between;
}*/
/*li:last-of-type a*/