<!-- inicio de portada -->
<section class="main">
	<div class="buscador">
		<div>
			<h1>Buscar propiedades</h1>
		</div>
		<div>
			<form action="">
				<!-- <label for="">Buscar propiedades</label> -->
				<input type="text" ng-model="parametroDeBusqueda">
				<button ng-click="irAlResultado()">Buscar</button>
			</form>
		</div>
	</div>
</section>
<!-- inicio de destacados -->
<section class="destacados">
	<article class="col-xs-12 col-sm-4"><h2>Subtitulo</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore obcaecati minus adipisci blanditiis enim velit ex possimus modi sed tempore voluptatem iusto assumenda facere, accusamus? Culpa eaque rem aliquid sit.</p></article>
	<article class="col-xs-12 col-sm-4"><h2>Subtitulo</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa repellat accusantium, sed ullam amet odio vel facere assumenda, atque est. Quam, labore aliquid molestiae vitae, quisquam ipsa repudiandae illum tempora.</p></article>
	<article class="col-xs-12 col-sm-4"><h2>Subtitulo</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nemo, nulla ab obcaecati est impedit voluptatibus fuga consequatur ratione necessitatibus accusantium praesentium. Minus assumenda asperiores atque ducimus distinctio obcaecati omnis.</p></article>
</section>