/*seccion portada*/

.main{
	display: flex;
	justify-content: center;
}

.buscador{
	text-align: center;
	/*background: url(../images/bg.png);
	background-size: ;*/
}

/*seccion destacados*/
.destacados{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}